In [20]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# Sample DataFrame with missing values
data = {
    'manufacturer': ['Ford', 'Toyota', 'Toyota','Honda', 'Ford', np.nan],
    'model': ['Focus', 'Corolla','Camry','Civic', 'sierra 1500 crew cab slt', 'Camry'],
    'year': [2010, 2011,np.nan,2012, None, 2014],
    'price': [10000, 15000,23450, 20000, 12000, np.nan],
    'odometer': [50000, 60000,12355,70000, 80000, 12355]
}

df2 = pd.DataFrame(data)

# Load the dataset
data = pd.read_csv('data/vehicles.csv')

df = data.head(200)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            200 non-null    int64
 1   region        200 non-null    object
 2   price         200 non-null    int64
 3   year          172 non-null    float64
 4   manufacturer  166 non-null    object
 5   model         171 non-null    object
 6   condition     166 non-null    object
 7   cylinders     105 non-null    object
 8   fuel          173 non-null    object
 9   odometer      173 non-null    float64
 10  title_status  173 non-null    object
 11  transmission  173 non-null    object
 12  VIN           129 non-null    object
 13  drive         98 non-null     object
 14  size          21 non-null     object
 15  type          163 non-null    object
 16  paint_color   141 non-null    object
 17  state         200 non-null    object
dtypes: float64(2), int64(2), object(14)
memory usage: 28.3+ KB

In [23]:
# Display the original DataFrame with missing values
print("Original DataFrame with missing values:")
print(df)

# Identify object columns and convert them to categorical type
object_cols = df.select_dtypes(include='object').columns
for col in object_cols:
    df[col] = df[col].astype('category')

print("\nDataFrame with object columns converted to categorical type:")
print(df)

# Store the original categories
original_categories = {}
for col in object_cols:
    original_categories[col] = df[col].cat.categories

# Encode categorical columns
for col in object_cols:
    df[col] = df[col].cat.codes.replace(-1, np.nan)  # Replace -1 (pandas code for NaN) with np.nan

print("\nDataFrame with encoded categorical columns:")
print(df)

# Initialize the IterativeImputer
imputer = IterativeImputer(max_iter=10, random_state=0)

# Fit and transform the data
df_imputed = imputer.fit_transform(df)

# Convert the numpy array back to a DataFrame
df_imputed = pd.DataFrame(df_imputed, columns=df.columns)

print("\nDataFrame after imputation:")
print(df_imputed)

# Convert encoded columns back to their original categories using a safer mapping strategy
for col in object_cols:
    valid_codes = range(len(original_categories[col]))
    df_imputed[col] = df_imputed[col].round().astype(int).map(lambda x: original_categories[col][x] if x in valid_codes else np.nan)

print("\nDataFrame with encoded columns converted back to original categories:")
print(df_imputed)

Original DataFrame with missing values:
             id  region  price    year  manufacturer  model  condition  \
0    7222695916      11   6000     NaN           NaN    NaN        NaN
1    7218891961       5  11900     NaN           NaN    NaN        NaN
2    7221797935       6  21000     NaN           NaN    NaN        NaN
3    7222270760      13   1500     NaN           NaN    NaN        NaN
4    7210384030       7   4900     NaN           NaN    NaN        NaN
..          ...     ...    ...     ...           ...    ...        ...
195  7316711193       2  34995  2012.0           8.0   20.0        NaN
196  7316707537       2   3200  2005.0           9.0   51.0        2.0
197  7316702941       2   3495  1999.0           9.0  125.0        2.0
198  7316695553       2   6500  2002.0           9.0  111.0        2.0
199  7316694878       2  16988  2008.0          26.0   50.0        NaN

     cylinders  fuel  odometer  title_status  transmission    VIN  drive  \
0          NaN   NaN       NaN           NaN           NaN    NaN    NaN
1          NaN   NaN       NaN           NaN           NaN    NaN    NaN
2          NaN   NaN       NaN           NaN           NaN    NaN    NaN
3          NaN   NaN       NaN           NaN           NaN    NaN    NaN
4          NaN   NaN       NaN           NaN           NaN    NaN    NaN
..         ...   ...       ...           ...           ...    ...    ...
195        NaN   1.0   41000.0           0.0           0.0    NaN    NaN
196        0.0   1.0  189886.0           0.0           0.0    NaN    NaN
197        2.0   1.0  135448.0           0.0           0.0    NaN    NaN
198        2.0   1.0  114775.0           0.0           0.0    NaN    NaN
199        NaN   1.0  188099.0           0.0           0.0  100.0    0.0

     size  type  paint_color  state
0     NaN   NaN          NaN      2
1     NaN   NaN          NaN      1
2     NaN   NaN          NaN      3
3     NaN   NaN          NaN      4
4     NaN   NaN          NaN      5
..    ...   ...          ...    ...
195   NaN   NaN          NaN      0
196   NaN   NaN          NaN      0
197   NaN   NaN          NaN      0
198   NaN   NaN          NaN      0
199   NaN   NaN          NaN      0

[200 rows x 18 columns]

DataFrame with object columns converted to categorical type:
             id  region  price    year  manufacturer  model  condition  \
0    7222695916      11   6000     NaN           NaN    NaN        NaN
1    7218891961       5  11900     NaN           NaN    NaN        NaN
2    7221797935       6  21000     NaN           NaN    NaN        NaN
3    7222270760      13   1500     NaN           NaN    NaN        NaN
4    7210384030       7   4900     NaN           NaN    NaN        NaN
..          ...     ...    ...     ...           ...    ...        ...
195  7316711193       2  34995  2012.0           8.0   20.0        NaN
196  7316707537       2   3200  2005.0           9.0   51.0        2.0
197  7316702941       2   3495  1999.0           9.0  125.0        2.0
198  7316695553       2   6500  2002.0           9.0  111.0        2.0
199  7316694878       2  16988  2008.0          26.0   50.0        NaN

     cylinders  fuel  odometer  title_status  transmission    VIN  drive  \
0          NaN   NaN       NaN           NaN           NaN    NaN    NaN
1          NaN   NaN       NaN           NaN           NaN    NaN    NaN
2          NaN   NaN       NaN           NaN           NaN    NaN    NaN
3          NaN   NaN       NaN           NaN           NaN    NaN    NaN
4          NaN   NaN       NaN           NaN           NaN    NaN    NaN
..         ...   ...       ...           ...           ...    ...    ...
195        NaN   1.0   41000.0           0.0           0.0    NaN    NaN
196        0.0   1.0  189886.0           0.0           0.0    NaN    NaN
197        2.0   1.0  135448.0           0.0           0.0    NaN    NaN
198        2.0   1.0  114775.0           0.0           0.0    NaN    NaN
199        NaN   1.0  188099.0           0.0           0.0  100.0    0.0

     size  type  paint_color  state
0     NaN   NaN          NaN      2
1     NaN   NaN          NaN      1
2     NaN   NaN          NaN      3
3     NaN   NaN          NaN      4
4     NaN   NaN          NaN      5
..    ...   ...          ...    ...
195   NaN   NaN          NaN      0
196   NaN   NaN          NaN      0
197   NaN   NaN          NaN      0
198   NaN   NaN          NaN      0
199   NaN   NaN          NaN      0

[200 rows x 18 columns]

DataFrame with encoded categorical columns:
             id  region  price    year  manufacturer  model  condition  \
0    7222695916      11   6000     NaN           NaN    NaN        NaN
1    7218891961       5  11900     NaN           NaN    NaN        NaN
2    7221797935       6  21000     NaN           NaN    NaN        NaN
3    7222270760      13   1500     NaN           NaN    NaN        NaN
4    7210384030       7   4900     NaN           NaN    NaN        NaN
..          ...     ...    ...     ...           ...    ...        ...
195  7316711193       2  34995  2012.0           8.0   20.0        NaN
196  7316707537       2   3200  2005.0           9.0   51.0        2.0
197  7316702941       2   3495  1999.0           9.0  125.0        2.0
198  7316695553       2   6500  2002.0           9.0  111.0        2.0
199  7316694878       2  16988  2008.0          26.0   50.0        NaN

     cylinders  fuel  odometer  title_status  transmission    VIN  drive  \
0          NaN   NaN       NaN           NaN           NaN    NaN    NaN
1          NaN   NaN       NaN           NaN           NaN    NaN    NaN
2          NaN   NaN       NaN           NaN           NaN    NaN    NaN
3          NaN   NaN       NaN           NaN           NaN    NaN    NaN
4          NaN   NaN       NaN           NaN           NaN    NaN    NaN
..         ...   ...       ...           ...           ...    ...    ...
195        NaN   1.0   41000.0           0.0           0.0    NaN    NaN
196        0.0   1.0  189886.0           0.0           0.0    NaN    NaN
197        2.0   1.0  135448.0           0.0           0.0    NaN    NaN
198        2.0   1.0  114775.0           0.0           0.0    NaN    NaN
199        NaN   1.0  188099.0           0.0           0.0  100.0    0.0

     size  type  paint_color  state
0     NaN   NaN          NaN      2
1     NaN   NaN          NaN      1
2     NaN   NaN          NaN      3
3     NaN   NaN          NaN      4
4     NaN   NaN          NaN      5
..    ...   ...          ...    ...
195   NaN   NaN          NaN      0
196   NaN   NaN          NaN      0
197   NaN   NaN          NaN      0
198   NaN   NaN          NaN      0
199   NaN   NaN          NaN      0

[200 rows x 18 columns]

DataFrame after imputation:
               id  region    price         year  manufacturer       model  \
0    7.222696e+09    11.0   6000.0  2026.075231     17.356402  -35.954799
1    7.218892e+09     5.0  11900.0  2029.117487     17.256238  -36.465291
2    7.221798e+09     6.0  21000.0  2031.921659     16.857942  -27.776017
3    7.222271e+09    13.0   1500.0  2024.470781     17.525243  -39.158682
4    7.210384e+09     7.0   4900.0  2028.310396     17.736943  -49.924936
..            ...     ...      ...          ...           ...         ...
195  7.316711e+09     2.0  34995.0  2012.000000      8.000000   20.000000
196  7.316708e+09     2.0   3200.0  2005.000000      9.000000   51.000000
197  7.316703e+09     2.0   3495.0  1999.000000      9.000000  125.000000
198  7.316696e+09     2.0   6500.0  2002.000000      9.000000  111.000000
199  7.316695e+09     2.0  16988.0  2008.000000     26.000000   50.000000

     condition  cylinders      fuel       odometer  title_status  \
0     5.170774   1.119376  1.220770 -115987.247558      0.167596
1     5.465985   1.284336  1.251660 -146771.716036      0.166606
2     5.537090   1.577379  1.283183 -170525.971874      0.151993
3     5.091281   0.978894  1.203320 -101504.037359      0.173296
4     5.685880   1.031123  1.238919 -145463.340207      0.187072
..         ...        ...       ...            ...           ...
195   1.659642   2.460720  1.000000   41000.000000      0.000000
196   2.000000   0.000000  1.000000  189886.000000      0.000000
197   2.000000   2.000000  1.000000  135448.000000      0.000000
198   2.000000   2.000000  1.000000  114775.000000      0.000000
199   0.876408   1.881566  1.000000  188099.000000      0.000000

     transmission         VIN     drive      size      type  paint_color  \
0        1.488975  256.836817  2.223524  0.946614 -4.455734     3.189096
1        1.843327  261.978200  2.044361  0.741892 -4.895644     3.005593
2        2.279011  251.461301  1.693983  0.452913 -4.524604     2.924817
3        1.260702  259.909875  2.388266  1.092595 -4.518167     3.252368
4        1.587145  283.257198  2.366963  0.944964 -5.931490     2.923123
..            ...         ...       ...       ...       ...          ...
195      0.000000   45.064667  0.491484  0.287862  6.837911     4.823572
196      0.000000   59.914892  1.437393  1.430029  6.435082     4.694763
197      0.000000   60.550345  1.445962  1.293634  6.879434     5.594516
198      0.000000   59.257944  1.393688  1.168059  6.971528     5.716841
199      0.000000  100.000000  0.000000  1.097858  6.089924     3.692900

     state
0      2.0
1      1.0
2      3.0
3      4.0
4      5.0
..     ...
195    0.0
196    0.0
197    0.0
198    0.0
199    0.0

[200 rows x 18 columns]

DataFrame with encoded columns converted back to original categories:
               id  region    price         year  manufacturer       model  \
0    7.222696e+09    11.0   6000.0  2026.075231     17.356402  -35.954799
1    7.218892e+09     5.0  11900.0  2029.117487     17.256238  -36.465291
2    7.221798e+09     6.0  21000.0  2031.921659     16.857942  -27.776017
3    7.222271e+09    13.0   1500.0  2024.470781     17.525243  -39.158682
4    7.210384e+09     7.0   4900.0  2028.310396     17.736943  -49.924936
..            ...     ...      ...          ...           ...         ...
195  7.316711e+09     2.0  34995.0  2012.000000      8.000000   20.000000
196  7.316708e+09     2.0   3200.0  2005.000000      9.000000   51.000000
197  7.316703e+09     2.0   3495.0  1999.000000      9.000000  125.000000
198  7.316696e+09     2.0   6500.0  2002.000000      9.000000  111.000000
199  7.316695e+09     2.0  16988.0  2008.000000     26.000000   50.000000

     condition  cylinders      fuel       odometer  title_status  \
0     5.170774   1.119376  1.220770 -115987.247558      0.167596
1     5.465985   1.284336  1.251660 -146771.716036      0.166606
2     5.537090   1.577379  1.283183 -170525.971874      0.151993
3     5.091281   0.978894  1.203320 -101504.037359      0.173296
4     5.685880   1.031123  1.238919 -145463.340207      0.187072
..         ...        ...       ...            ...           ...
195   1.659642   2.460720  1.000000   41000.000000      0.000000
196   2.000000   0.000000  1.000000  189886.000000      0.000000
197   2.000000   2.000000  1.000000  135448.000000      0.000000
198   2.000000   2.000000  1.000000  114775.000000      0.000000
199   0.876408   1.881566  1.000000  188099.000000      0.000000

     transmission         VIN     drive      size      type  paint_color  \
0        1.488975  256.836817  2.223524  0.946614 -4.455734     3.189096
1        1.843327  261.978200  2.044361  0.741892 -4.895644     3.005593
2        2.279011  251.461301  1.693983  0.452913 -4.524604     2.924817
3        1.260702  259.909875  2.388266  1.092595 -4.518167     3.252368
4        1.587145  283.257198  2.366963  0.944964 -5.931490     2.923123
..            ...         ...       ...       ...       ...          ...
195      0.000000   45.064667  0.491484  0.287862  6.837911     4.823572
196      0.000000   59.914892  1.437393  1.430029  6.435082     4.694763
197      0.000000   60.550345  1.445962  1.293634  6.879434     5.594516
198      0.000000   59.257944  1.393688  1.168059  6.971528     5.716841
199      0.000000  100.000000  0.000000  1.097858  6.089924     3.692900

     state
0      2.0
1      1.0
2      3.0
3      4.0
4      5.0
..     ...
195    0.0
196    0.0
197    0.0
198    0.0
199    0.0

[200 rows x 18 columns]

In [19]:
# Display the original DataFrame with missing values
print("Original DataFrame with missing values:")
print(df)

# Identify object columns and convert them to categorical type
object_cols = df.select_dtypes(include='object').columns
for col in object_cols:
    df[col] = df[col].astype('category')

print("\nDataFrame with object columns converted to categorical type:")
print(df)

# Encode categorical columns
for col in object_cols:
    df[col] = df[col].cat.codes.replace(-1, np.nan)  # Replace -1 (pandas code for NaN) with np.nan

print("\nDataFrame with encoded categorical columns:")
print(df)

# Initialize the IterativeImputer
imputer = IterativeImputer(max_iter=10, random_state=0)

# Fit and transform the data
df_imputed = imputer.fit_transform(df)

# Convert the numpy array back to a DataFrame
df_imputed = pd.DataFrame(df_imputed, columns=df.columns)

print("\nDataFrame after imputation:")
print(df_imputed)

# Convert encoded columns back to their original categories
for col in object_cols:
    df_imputed[col] = df_imputed[col].round().astype(int).map(lambda x: original_categories[col][x])

print("\nDataFrame with encoded columns converted back to original categories:")
print(df_imputed)

Original DataFrame with missing values:
             id                  region  price    year manufacturer  \
0    7222695916                prescott   6000     NaN          NaN
1    7218891961            fayetteville  11900     NaN          NaN
2    7221797935            florida keys  21000     NaN          NaN
3    7222270760  worcester / central MA   1500     NaN          NaN
4    7210384030              greensboro   4900     NaN          NaN
..          ...                     ...    ...     ...          ...
195  7316711193              birmingham  34995  2012.0        dodge
196  7316707537              birmingham   3200  2005.0         ford
197  7316702941              birmingham   3495  1999.0         ford
198  7316695553              birmingham   6500  2002.0         ford
199  7316694878              birmingham  16988  2008.0       toyota

                 model condition    cylinders fuel  odometer title_status  \
0                  NaN       NaN          NaN  NaN       NaN          NaN
1                  NaN       NaN          NaN  NaN       NaN          NaN
2                  NaN       NaN          NaN  NaN       NaN          NaN
3                  NaN       NaN          NaN  NaN       NaN          NaN
4                  NaN       NaN          NaN  NaN       NaN          NaN
..                 ...       ...          ...  ...       ...          ...
195  charger limousine       NaN          NaN  gas   41000.0        clean
196              focus      good  4 cylinders  gas  189886.0        clean
197           windstar      good  6 cylinders  gas  135448.0        clean
198         sport trac      good  6 cylinders  gas  114775.0        clean
199         fj cruiser       NaN          NaN  gas  188099.0        clean

    transmission                VIN drive size type paint_color state
0            NaN                NaN   NaN  NaN  NaN         NaN    az
1            NaN                NaN   NaN  NaN  NaN         NaN    ar
2            NaN                NaN   NaN  NaN  NaN         NaN    fl
3            NaN                NaN   NaN  NaN  NaN         NaN    ma
4            NaN                NaN   NaN  NaN  NaN         NaN    nc
..           ...                ...   ...  ...  ...         ...   ...
195    automatic                NaN   NaN  NaN  NaN         NaN    al
196    automatic                NaN   NaN  NaN  NaN         NaN    al
197    automatic                NaN   NaN  NaN  NaN         NaN    al
198    automatic                NaN   NaN  NaN  NaN         NaN    al
199    automatic  JTEBU11F580105856   4wd  NaN  NaN         NaN    al

[200 rows x 18 columns]

DataFrame with object columns converted to categorical type:
             id                  region  price    year manufacturer  \
0    7222695916                prescott   6000     NaN          NaN
1    7218891961            fayetteville  11900     NaN          NaN
2    7221797935            florida keys  21000     NaN          NaN
3    7222270760  worcester / central MA   1500     NaN          NaN
4    7210384030              greensboro   4900     NaN          NaN
..          ...                     ...    ...     ...          ...
195  7316711193              birmingham  34995  2012.0        dodge
196  7316707537              birmingham   3200  2005.0         ford
197  7316702941              birmingham   3495  1999.0         ford
198  7316695553              birmingham   6500  2002.0         ford
199  7316694878              birmingham  16988  2008.0       toyota

                 model condition    cylinders fuel  odometer title_status  \
0                  NaN       NaN          NaN  NaN       NaN          NaN
1                  NaN       NaN          NaN  NaN       NaN          NaN
2                  NaN       NaN          NaN  NaN       NaN          NaN
3                  NaN       NaN          NaN  NaN       NaN          NaN
4                  NaN       NaN          NaN  NaN       NaN          NaN
..                 ...       ...          ...  ...       ...          ...
195  charger limousine       NaN          NaN  gas   41000.0        clean
196              focus      good  4 cylinders  gas  189886.0        clean
197           windstar      good  6 cylinders  gas  135448.0        clean
198         sport trac      good  6 cylinders  gas  114775.0        clean
199         fj cruiser       NaN          NaN  gas  188099.0        clean

    transmission                VIN drive size type paint_color state
0            NaN                NaN   NaN  NaN  NaN         NaN    az
1            NaN                NaN   NaN  NaN  NaN         NaN    ar
2            NaN                NaN   NaN  NaN  NaN         NaN    fl
3            NaN                NaN   NaN  NaN  NaN         NaN    ma
4            NaN                NaN   NaN  NaN  NaN         NaN    nc
..           ...                ...   ...  ...  ...         ...   ...
195    automatic                NaN   NaN  NaN  NaN         NaN    al
196    automatic                NaN   NaN  NaN  NaN         NaN    al
197    automatic                NaN   NaN  NaN  NaN         NaN    al
198    automatic                NaN   NaN  NaN  NaN         NaN    al
199    automatic  JTEBU11F580105856   4wd  NaN  NaN         NaN    al

[200 rows x 18 columns]

DataFrame with encoded categorical columns:
             id  region  price    year  manufacturer  model  condition  \
0    7222695916      11   6000     NaN           NaN    NaN        NaN
1    7218891961       5  11900     NaN           NaN    NaN        NaN
2    7221797935       6  21000     NaN           NaN    NaN        NaN
3    7222270760      13   1500     NaN           NaN    NaN        NaN
4    7210384030       7   4900     NaN           NaN    NaN        NaN
..          ...     ...    ...     ...           ...    ...        ...
195  7316711193       2  34995  2012.0           8.0   20.0        NaN
196  7316707537       2   3200  2005.0           9.0   51.0        2.0
197  7316702941       2   3495  1999.0           9.0  125.0        2.0
198  7316695553       2   6500  2002.0           9.0  111.0        2.0
199  7316694878       2  16988  2008.0          26.0   50.0        NaN

     cylinders  fuel  odometer  title_status  transmission    VIN  drive  \
0          NaN   NaN       NaN           NaN           NaN    NaN    NaN
1          NaN   NaN       NaN           NaN           NaN    NaN    NaN
2          NaN   NaN       NaN           NaN           NaN    NaN    NaN
3          NaN   NaN       NaN           NaN           NaN    NaN    NaN
4          NaN   NaN       NaN           NaN           NaN    NaN    NaN
..         ...   ...       ...           ...           ...    ...    ...
195        NaN   1.0   41000.0           0.0           0.0    NaN    NaN
196        0.0   1.0  189886.0           0.0           0.0    NaN    NaN
197        2.0   1.0  135448.0           0.0           0.0    NaN    NaN
198        2.0   1.0  114775.0           0.0           0.0    NaN    NaN
199        NaN   1.0  188099.0           0.0           0.0  100.0    0.0

     size  type  paint_color  state
0     NaN   NaN          NaN      2
1     NaN   NaN          NaN      1
2     NaN   NaN          NaN      3
3     NaN   NaN          NaN      4
4     NaN   NaN          NaN      5
..    ...   ...          ...    ...
195   NaN   NaN          NaN      0
196   NaN   NaN          NaN      0
197   NaN   NaN          NaN      0
198   NaN   NaN          NaN      0
199   NaN   NaN          NaN      0

[200 rows x 18 columns]

DataFrame after imputation:
               id  region    price         year  manufacturer       model  \
0    7.222696e+09    11.0   6000.0  2026.075231     17.356402  -35.954799
1    7.218892e+09     5.0  11900.0  2029.117487     17.256238  -36.465291
2    7.221798e+09     6.0  21000.0  2031.921659     16.857942  -27.776017
3    7.222271e+09    13.0   1500.0  2024.470781     17.525243  -39.158682
4    7.210384e+09     7.0   4900.0  2028.310396     17.736943  -49.924936
..            ...     ...      ...          ...           ...         ...
195  7.316711e+09     2.0  34995.0  2012.000000      8.000000   20.000000
196  7.316708e+09     2.0   3200.0  2005.000000      9.000000   51.000000
197  7.316703e+09     2.0   3495.0  1999.000000      9.000000  125.000000
198  7.316696e+09     2.0   6500.0  2002.000000      9.000000  111.000000
199  7.316695e+09     2.0  16988.0  2008.000000     26.000000   50.000000

     condition  cylinders      fuel       odometer  title_status  \
0     5.170774   1.119376  1.220770 -115987.247558      0.167596
1     5.465985   1.284336  1.251660 -146771.716036      0.166606
2     5.537090   1.577379  1.283183 -170525.971874      0.151993
3     5.091281   0.978894  1.203320 -101504.037359      0.173296
4     5.685880   1.031123  1.238919 -145463.340207      0.187072
..         ...        ...       ...            ...           ...
195   1.659642   2.460720  1.000000   41000.000000      0.000000
196   2.000000   0.000000  1.000000  189886.000000      0.000000
197   2.000000   2.000000  1.000000  135448.000000      0.000000
198   2.000000   2.000000  1.000000  114775.000000      0.000000
199   0.876408   1.881566  1.000000  188099.000000      0.000000

     transmission         VIN     drive      size      type  paint_color  \
0        1.488975  256.836817  2.223524  0.946614 -4.455734     3.189096
1        1.843327  261.978200  2.044361  0.741892 -4.895644     3.005593
2        2.279011  251.461301  1.693983  0.452913 -4.524604     2.924817
3        1.260702  259.909875  2.388266  1.092595 -4.518167     3.252368
4        1.587145  283.257198  2.366963  0.944964 -5.931490     2.923123
..            ...         ...       ...       ...       ...          ...
195      0.000000   45.064667  0.491484  0.287862  6.837911     4.823572
196      0.000000   59.914892  1.437393  1.430029  6.435082     4.694763
197      0.000000   60.550345  1.445962  1.293634  6.879434     5.594516
198      0.000000   59.257944  1.393688  1.168059  6.971528     5.716841
199      0.000000  100.000000  0.000000  1.097858  6.089924     3.692900

     state
0      2.0
1      1.0
2      3.0
3      4.0
4      5.0
..     ...
195    0.0
196    0.0
197    0.0
198    0.0
199    0.0

[200 rows x 18 columns]

/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')
/var/folders/t4/9mx16sps4dj1sqdw_xpqfhk80000gn/T/ipykernel_3656/3816920122.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].cat.codes.replace(-1, np.nan)  # Replace -1 (pandas code for NaN) with np.nan

KeyError: 'region'

In [2]:
print(df)

   manufacturer  model    year    price  odometer
0           0.0      3  2010.0  10000.0   50000.0
1           2.0      2  2011.0  15000.0   60000.0
2           1.0      1  2012.0  20000.0   70000.0
3           0.0      4     NaN  12000.0   80000.0
4           NaN      0  2014.0      NaN       NaN

In [6]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

# Sample DataFrame with missing string values
data = {
    'manufacturer': ['Ford', 'Toyota', 'Honda', 'Ford', np.nan],
    'model': ['Focus', 'Corolla', 'Civic', 'sierra 1500 crew cab slt', 'Camry'],
    'year': [2010, 2011, 2012, None, 2014],
    'price': [10000, 15000, 20000, 12000, np.nan],
    'odometer': [50000, 60000, 70000, 80000, np.nan]
}

df = pd.DataFrame(data)

# Display the original DataFrame with missing values
print("Original DataFrame with missing values:")
print(df)

# Identify object columns and convert them to categorical type
object_cols = df.select_dtypes(include='object').columns
for col in object_cols:
    df[col] = df[col].astype('category')

print("\nDataFrame with object columns converted to categorical type:")
print(df)

# Store the original categories
original_categories = {}
for col in object_cols:
    original_categories[col] = df[col].cat.categories

# Encode categorical columns
for col in object_cols:
    df[col] = df[col].cat.codes.replace(-1, np.nan)  # Replace -1 (pandas code for NaN) with np.nan

print("\nDataFrame with encoded categorical columns:")
print(df)

# Initialize the SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')

# Fit and transform the data
df_imputed = imputer.fit_transform(df)

# Convert the numpy array back to a DataFrame
df_imputed = pd.DataFrame(df_imputed, columns=df.columns)

print("\nDataFrame after imputation:")
print(df_imputed)

# Convert encoded columns back to their original categories
for col in object_cols:
    df_imputed[col] = df_imputed[col].round().astype(int).map(lambda x: original_categories[col][x])

print("\nDataFrame with encoded columns converted back to original categories:")
print(df_imputed)

Original DataFrame with missing values:
  manufacturer                     model    year    price  odometer
0         Ford                     Focus  2010.0  10000.0   50000.0
1       Toyota                   Corolla  2011.0  15000.0   60000.0
2        Honda                     Civic  2012.0  20000.0   70000.0
3         Ford  sierra 1500 crew cab slt     NaN  12000.0   80000.0
4          NaN                     Camry  2014.0      NaN       NaN

DataFrame with object columns converted to categorical type:
  manufacturer                     model    year    price  odometer
0         Ford                     Focus  2010.0  10000.0   50000.0
1       Toyota                   Corolla  2011.0  15000.0   60000.0
2        Honda                     Civic  2012.0  20000.0   70000.0
3         Ford  sierra 1500 crew cab slt     NaN  12000.0   80000.0
4          NaN                     Camry  2014.0      NaN       NaN

DataFrame with encoded categorical columns:
   manufacturer  model    year    price  odometer
0           0.0      3  2010.0  10000.0   50000.0
1           2.0      2  2011.0  15000.0   60000.0
2           1.0      1  2012.0  20000.0   70000.0
3           0.0      4     NaN  12000.0   80000.0
4           NaN      0  2014.0      NaN       NaN

DataFrame after imputation:
   manufacturer  model    year    price  odometer
0           0.0    3.0  2010.0  10000.0   50000.0
1           2.0    2.0  2011.0  15000.0   60000.0
2           1.0    1.0  2012.0  20000.0   70000.0
3           0.0    4.0  2010.0  12000.0   80000.0
4           0.0    0.0  2014.0  10000.0   50000.0

DataFrame with encoded columns converted back to original categories:
  manufacturer                     model    year    price  odometer
0         Ford                     Focus  2010.0  10000.0   50000.0
1       Toyota                   Corolla  2011.0  15000.0   60000.0
2        Honda                     Civic  2012.0  20000.0   70000.0
3         Ford  sierra 1500 crew cab slt  2010.0  12000.0   80000.0
4         Ford                     Camry  2014.0  10000.0   50000.0

In [4]:
print(original_categories)

Index([0, 1, 2, 3, 4], dtype='int8')

In [5]:
print (df)

   manufacturer  model    year    price  odometer
0           0.0      3  2010.0  10000.0   50000.0
1           2.0      2  2011.0  15000.0   60000.0
2           1.0      1  2012.0  20000.0   70000.0
3           0.0      4     NaN  12000.0   80000.0
4           NaN      0  2014.0      NaN       NaN

In [24]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# Load the dataset
df = pd.read_csv('data/vehicles.csv')

# Display the original DataFrame with missing values
print("Original DataFrame with missing values:")
print(df.head())

# Identify object columns and convert them to categorical type
object_cols = df.select_dtypes(include='object').columns
for col in object_cols:
    df[col] = df[col].astype('category')

print("\nDataFrame with object columns converted to categorical type:")
print(df.head())

# Store the original categories
original_categories = {}
for col in object_cols:
    original_categories[col] = df[col].cat.categories

# Encode categorical columns
for col in object_cols:
    df[col] = df[col].cat.codes.replace(-1, np.nan)  # Replace -1 (pandas code for NaN) with np.nan

print("\nDataFrame with encoded categorical columns:")
print(df.head())

# Initialize the IterativeImputer
imputer = IterativeImputer(max_iter=10, random_state=0)

# Fit and transform the data
df_imputed = imputer.fit_transform(df)

# Convert the numpy array back to a DataFrame
df_imputed = pd.DataFrame(df_imputed, columns=df.columns)

print("\nDataFrame after imputation:")
print(df_imputed.head())

# Convert encoded columns back to their original categories using a safer mapping strategy
for col in object_cols:
    valid_codes = range(len(original_categories[col]))
    df_imputed[col] = df_imputed[col].round().astype(int).map(lambda x: original_categories[col][x] if x in valid_codes else np.nan)

print("\nDataFrame with encoded columns converted back to original categories:")
print(df_imputed.head())

Original DataFrame with missing values:
           id                  region  price  year manufacturer model  \
0  7222695916                prescott   6000   NaN          NaN   NaN
1  7218891961            fayetteville  11900   NaN          NaN   NaN
2  7221797935            florida keys  21000   NaN          NaN   NaN
3  7222270760  worcester / central MA   1500   NaN          NaN   NaN
4  7210384030              greensboro   4900   NaN          NaN   NaN

  condition cylinders fuel  odometer title_status transmission  VIN drive  \
0       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
1       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
2       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
3       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
4       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN

  size type paint_color state
0  NaN  NaN         NaN    az
1  NaN  NaN         NaN    ar
2  NaN  NaN         NaN    fl
3  NaN  NaN         NaN    ma
4  NaN  NaN         NaN    nc

DataFrame with object columns converted to categorical type:
           id                  region  price  year manufacturer model  \
0  7222695916                prescott   6000   NaN          NaN   NaN
1  7218891961            fayetteville  11900   NaN          NaN   NaN
2  7221797935            florida keys  21000   NaN          NaN   NaN
3  7222270760  worcester / central MA   1500   NaN          NaN   NaN
4  7210384030              greensboro   4900   NaN          NaN   NaN

  condition cylinders fuel  odometer title_status transmission  VIN drive  \
0       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
1       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
2       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
3       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
4       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN

  size type paint_color state
0  NaN  NaN         NaN    az
1  NaN  NaN         NaN    ar
2  NaN  NaN         NaN    fl
3  NaN  NaN         NaN    ma
4  NaN  NaN         NaN    nc

DataFrame with encoded categorical columns:
           id  region  price  year  manufacturer  model  condition  cylinders  \
0  7222695916     277   6000   NaN           NaN    NaN        NaN        NaN
1  7218891961     105  11900   NaN           NaN    NaN        NaN        NaN
2  7221797935     111  21000   NaN           NaN    NaN        NaN        NaN
3  7222270760     396   1500   NaN           NaN    NaN        NaN        NaN
4  7210384030     131   4900   NaN           NaN    NaN        NaN        NaN

   fuel  odometer  title_status  transmission  VIN  drive  size  type  \
0   NaN       NaN           NaN           NaN  NaN    NaN   NaN   NaN
1   NaN       NaN           NaN           NaN  NaN    NaN   NaN   NaN
2   NaN       NaN           NaN           NaN  NaN    NaN   NaN   NaN
3   NaN       NaN           NaN           NaN  NaN    NaN   NaN   NaN
4   NaN       NaN           NaN           NaN  NaN    NaN   NaN   NaN

   paint_color  state
0          NaN      3
1          NaN      2
2          NaN      9
3          NaN     19
4          NaN     27

DataFrame after imputation:
             id  region    price         year  manufacturer         model  \
0  7.222696e+09   277.0   6000.0  2021.162763      8.588862  17168.846079
1  7.218892e+09   105.0  11900.0  2021.586238      8.128505  17158.550907
2  7.221798e+09   111.0  21000.0  2021.267047      8.438174  17133.757244
3  7.222271e+09   396.0   1500.0  2021.225870      8.486739  17160.037577
4  7.210384e+09   131.0   4900.0  2022.561815      7.035390  17151.962107

   condition  cylinders      fuel      odometer  title_status  transmission  \
0   1.500404   4.956568  2.313782  63943.990865     -0.095992      0.760111
1   1.531049   4.983650  2.332513  63047.858603     -0.096883      0.790228
2   1.535897   4.985655  2.313354  64018.876297     -0.088599      0.773951
3   1.530092   4.987000  2.288601  63099.088028     -0.098958      0.747425
4   1.626081   5.078588  2.322654  59216.569280     -0.112345      0.817645

            VIN     drive      size      type  paint_color  state
0  76746.395782  0.813247  1.084871  4.535002     6.063416    3.0
1  77557.894422  0.799918  1.092411  4.453203     6.095116    2.0
2  76460.309116  0.780920  1.100578  4.507228     6.038104    9.0
3  75551.231476  0.775940  1.095722  4.545382     5.947318   19.0
4  77177.699911  0.724717  1.116247  4.319108     5.950395   27.0

DataFrame with encoded columns converted back to original categories:
             id                  region    price         year manufacturer  \
0  7.222696e+09                prescott   6000.0  2021.162763       datsun
1  7.218892e+09            fayetteville  11900.0  2021.586238     chrysler
2  7.221798e+09            florida keys  21000.0  2021.267047     chrysler
3  7.222271e+09  worcester / central MA   1500.0  2021.225870     chrysler
4  7.210384e+09              greensboro   4900.0  2022.561815    chevrolet

                    model condition    cylinders fuel      odometer  \
0     golf gti autobahn w      good  6 cylinders  gas  63943.990865
1                 golf gl      good  6 cylinders  gas  63047.858603
2  golden jubilee tractor      good  6 cylinders  gas  64018.876297
3                golf gls      good  6 cylinders  gas  63099.088028
4     golf alltrack s awd      good  6 cylinders  gas  59216.569280

  title_status transmission                VIN drive       size       type  \
0        clean       manual  5GAKRBKD1GJ150487   fwd  full-size   mini-van
1        clean       manual  5J6RM4H72EL055909   fwd  full-size  hatchback
2        clean       manual  5FPYK3F79KB010539   fwd  full-size   mini-van
3        clean       manual  5FNRL5H63BB047726   fwd  full-size   mini-van
4        clean       manual  5GZCZ53407S875641   fwd  full-size  hatchback

  paint_color state
0      orange    az
1      orange    ar
2      orange    fl
3      orange    ma
4      orange    nc